{{#partial "content"}}

    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/rangers/new">Add New Ranger</a>
                    <a class="nav-item nav-link" href="/all/animals">View all Animals</a>
                </div>
            </div>
        </nav>
    </div>

    {{#if editRanger}}
        <h1>Edit this Ranger!</h1>
        <form action="/rangers/{{ranger.id}}/edit" method="post">
            <label for="rangerName">Edit this ranger's name</label>
            <input class="form-control form-control-lg" id="newRangerName" name="newRangerName" type="text" value="{{ranger.rangerName}}">
            <label for="newRangerLocation">Ranger Location</label>
            <input class="form-control form-control-lg" id="newRangerLocation" name="newRangerLocation" type="text" value="{{ranger.rangerLocation}}">
            <button id="rangerButton" type="submit" class="btn btn-default">Edit</button>
        </form>
    {{else}}
        <h1>Register new Ranger!</h1>
        <form action="/rangers/new" method="post">
            <label for="rangerName">Ranger Name</label>
            <input class="form-control form-control-lg" id="rangerName" name="rangerName" type="text">
            <label for="rangerLocation">Ranger Location</label>
            <input class="form-control form-control-lg" id="rangerLocation" name="rangerLocation" type="text">
            <button id="rangerButton" type="submit" class="btn btn-default">CREATE</button>
        </form>
    {{/if}}

{{/partial}}

{{> layout.hbs}}